<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Signuptr</servlet-name>
        <servlet-class>Signuptr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signupcus</servlet-name>
        <servlet-class>Signupcus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logintr</servlet-name>
        <servlet-class>Logintr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logincus</servlet-name>
        <servlet-class>Logincus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboardtr</servlet-name>
        <servlet-class>Dashboardtr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Classlist</servlet-name>
        <servlet-class>Classlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customer</servlet-name>
        <servlet-class>customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>message</servlet-name>
        <servlet-class>message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trainer</servlet-name>
        <servlet-class>Trainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Classlistcus</servlet-name>
        <servlet-class>Classlistcus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgettr</servlet-name>
        <servlet-class>Forgettr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgetcus</servlet-name>
        <servlet-class>Forgetcus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signuptr</servlet-name>
        <url-pattern>/Signuptr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signupcus</servlet-name>
        <url-pattern>/Signupcus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logintr</servlet-name>
        <url-pattern>/Logintr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logincus</servlet-name>
        <url-pattern>/Logincus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboardtr</servlet-name>
        <url-pattern>/Dashboardtr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Classlist</servlet-name>
        <url-pattern>/Classlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customer</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trainer</servlet-name>
        <url-pattern>/Trainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Classlistcus</servlet-name>
        <url-pattern>/Classlistcus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgettr</servlet-name>
        <url-pattern>/Forgettr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgetcus</servlet-name>
        <url-pattern>/Forgetcus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
